<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{{url_for('static', filename='style-cookie.css')}}" rel="stylesheet" type="text/css" />
  <script src="{{url_for('static', filename='cookie.js')}}" ></script>
  <script>let tapcookie=0;</script>
  
  
</head>

<body>
  <style>
 </style>
 
 
  <p>cookie</p>
  <button  class="cookiebutton" alt="logo" id="cookieTap" onclick="taptap()" >cookie Tap</button><br>
 <!-- <button id="show" onclick="showMyCookie()">show my cookies</button>
  --><br>
  <p>my cookies</p>
  <p id="showCookies"></p>
  <br>
  
  <br>
  <p>wanna share your cookies to other person? type the name and amount of the cookies</p>
  <form id="giveCookies"  >
  username: <input type="text"  value=""><br>
  amount: <input type="number" id="quantity" name="quantity" min="0" max="5000000">><br> 
</form>
<p id="info"></p>

  <button id="giveCookie" onclick="giveCookies()">give cookies</button>

  <script > function giveCookies() {
  var x = document.getElementById("giveCookies");
  let targetname=x.elements[0].value;
  let quantity=x.elements[1].value;
  
  
  let payload=JSON.stringify({request:[username,quantity,targetname]});
  console.log((payload),typeof(payload));
  const options = {
  method: 'POST',
  headers: {'Content-Type': 'application/json'},
  body: payload
};



    let cookies=0;
    let tempdata=fetch('https://serverCookie.colabbren.repl.co/giveCookies', options)
  .then(response => response.json())
  .then(data => {
    
    
    
    if(data.respond[0]==="succes"){document.getElementById("info").innerHTML = "cookies sent, its deliciouss";document.getElementById("showCookies").innerHTML = 
    data.respond[1]  ;cacheShowMyCookie=data.respond[1];}else{document.getElementById("info").innerHTML = "failed, perhaps the person is not here yet, or u dont have enough cookie to share :(. keep grinding!! &)";}}
       )
  
  
  .catch(err => console.error(err));
                         
  
}
  </script>






































  
  <script>
function showMyCookie(){
let payload=JSON.stringify({request:[username,password]});
  console.log((payload),typeof(payload));
  const options = {
  method: 'POST',
  headers: {'Content-Type': 'application/json'},
  body: payload
};



    
    fetch('https://serverCookie.colabbren.repl.co/showCookies', options)
  .then(response => response.json())
  .then(data => {cacheShowMyCookie=data.respond;console.log(cacheShowMyCookie,"response");document.getElementById("showCookies").innerHTML = cacheShowMyCookie;})
    .catch(err => console.error(err));
  
    
    }
  
       
  
  
  
                         
  





  
</script>
   <script>showMyCookie();console.log("debug send");</script>
 <script>console.log("debug show",cacheShowMyCookie);</script>
  <script  >
    
    function taptap(){
      tapcookie+=1;
      cacheShowMyCookie+=1;
      document.getElementById("showCookies").innerHTML = cacheShowMyCookie;
      
    }
  </script>

   
 <script>
   
   async function sendCookie() {
  
  
  
  let payload=JSON.stringify({request:[username,password,tapcookie]});
  console.log((payload),typeof(payload));
  const options = {
  method: 'POST',
  headers: {'Content-Type': 'application/json'},
  body: payload
};



    let cookies=0;
    fetch('https://serverCookie.colabbren.repl.co/sendCookies', options)
  .then(response => response.json())
  .then(data => {console.log("send succes",tapcookie);showMyCookie();
    
  tapcookie=0;
    
    }
       )
  
  
  .catch(err => console.error(err));
                         
  

}
   setInterval(sendCookie, 5000);
  
 </script>



  
</body>

</html>