<!DOCTYPE HTML>
<html>
  <head>
    
  </head>
  <body>
    <div id="div1">Leaderboard=</div>

    <script>
      
      function showLeaderboard(){
 let leaderboard=[];
  
const options = {method: 'POST', headers: {'Content-Type': 'application/json'}, body: 'false'};

fetch('https://cookie-2.risalahqz.repl.co/showLeaderboard', options)
  .then(response => response.json())
  .then(response => {console.log("dari");leaderboard.push(response);console.log(response,"yey",leaderboard);console.log("berhasil");const element = document.getElementById("div1");let lister=leaderboard;for (let i = 0; i < lister[0].length; i++) {
      console.log(i,lister[0][i]);
	let paras = document.createElement("p");
    let nodes = document.createTextNode(i+1);
    paras.appendChild(nodes);
     nodes = document.createTextNode(").   ");
    paras.appendChild(nodes);
     nodes = document.createTextNode(lister[0][i][0]);
    paras.appendChild(nodes);
     nodes = document.createTextNode("===");
    paras.appendChild(nodes);
     nodes = document.createTextNode(lister[0][i][1]);
    paras.appendChild(nodes);
    element.appendChild(paras);
}})
  .catch(err => {console.log(leaderboard.push([1,4]));console.log(leaderboard);console.error(err);});
    return leaderboard;
    }
  
       
  
  
 //console.log("awwaw",lister);
  
                         
  showLeaderboard();

  

    </script>
<script>
  
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

  async function delayedGreeting() {
    console.log("berjalan");

  let lister=showLeaderboard();
  
  console.log("tidak akan",lister);
    
  console.log("Goodbye!");
}




  </script>  
  </body>
</html>