<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{{url_for('static', filename='style-cookie.css')}}" rel="stylesheet" type="text/css" />
  
  
    <link rel="icon" href="{{url_for('static', filename='assets/pngegg.png')}}" type="image/png">
  </head>
  <body>
    <header class="top-bar">
    <section class="logo">
      <img class="logo" src="{{url_for('static', filename='assets/pngegg.png')}}" alt="logo" width="50px" height="40px">
      <h1 class="logo-title"><a href="https://servercookie.colabbren.repl.co">Cookie Tap</a></h1>
    </section>

   
  </header>
    <main>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div id="div1">Leaderboard=</div>

    <script>
      document.getElementById("div1").innerHTML = "loading...";
      function showLeaderboard(){
 let leaderboard=[];
  
const options = {method: 'POST', headers: {'Content-Type': 'application/json'}, body: 'false'};

fetch('https://cookie-2.risalahqz.repl.co/showLeaderboard', options)
  .then(response => response.json())
  .then(response => {console.log("dari");leaderboard.push(response);console.log(response,"yey",leaderboard);console.log("berhasil");document.getElementById("div1").innerHTML = "Leaderboard= ";;const element = document.getElementById("div1");let lister=leaderboard;for (let i = 0; i < lister[0].length; i++) {
      console.log(i,lister[0][i]);
	let paras = document.createElement("p");
    let nodes = document.createTextNode(i+1);
    paras.appendChild(nodes);
     nodes = document.createTextNode(").   ");
    paras.appendChild(nodes);
     nodes = document.createTextNode(lister[0][i][0]);
    paras.appendChild(nodes);
     nodes = document.createTextNode("===");
    paras.appendChild(nodes);
     nodes = document.createTextNode(lister[0][i][1]);
    paras.appendChild(nodes);
    element.appendChild(paras);
}})
  .catch(err => {console.log(leaderboard.push([1,4]));console.log(leaderboard);console.error(err);});
    return leaderboard;
    }
  
       
  
  
 //console.log("awwaw",lister);
  
                         
  showLeaderboard();

  

    </script>
<script>
  
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

  async function delayedGreeting() {
    console.log("berjalan");

  let lister=showLeaderboard();
  
  console.log("tidak akan",lister);
    
  console.log("Goodbye!");
}




  </script>  
      </main>
    
  </body>
</html>
