<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Login | Cookie Tap</title>
  <link href="{{url_for('static', filename='style-log.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='assets/pngegg.png')}}" type="image/png">
</head>

<body>
   <script>
    function bt_sound(){
    var audio = new Audio("{{url_for('static', filename='assets/button_tap.mp3')}}");
    audio.loop = false;
audio.play();}
  </script>
    <header class="top-bar">
        <section class="logo">
            <img class="logo" src="{{url_for('static', filename='assets/pngegg.png')}}" alt="logo" width="50px"
                height="40px">
            <h1 class="logo-title"><a href="https://cookie-1.risalahqz.repl.co">Cookie Tap</a></h1>
        </section>

        <section>
            <nav class="nav">
                <ul class="nav_links">
                    <li><button class="ld1" onclick="bt_sound()"><a href="https://cookie-1.risalahqz.repl.co/leaderboard"
                                >Leaderboards</a></button></li>
                </ul>
               <nav class="nav">
        <ul class="nav_links">
          <li><button id="lamgu" class="ld1" onclick="lagu()">
                >sound</a></button>
          <script>
           var audios = new Audio("{{url_for('static', filename='assets/lobby_theme.mp3')}}");
            let mute=0
        function lagu(){
          console.log(mute);
          var audio = new Audio("{{url_for('static', filename='assets/button_tap.mp3')}}");
    audio.loop = false;
audio.play();
          mute++;
    if (mute%2!=0){audios.loop = true;
        audios.muted = false;
    audios.volume = 0.7;
          console.log("goyans");document.getElementById("lamgu").innerHTML =">sound";
audios.play();}else{audios.muted=true;document.getElementById("lamgu").innerHTML ="muted";}}
    
        
  </script>
          </li>
       
        </ul>
      </nav>
            </nav>
        </section>
    </header>

    <main>
        <section class="login">
            <div class="title">LOGIN</div>
            <div class="sub-title">
                <p id="demo">We miss you already <3 </p>
            </div>
            <form class="login1" id="login1">
                <div class="uname">
                    <label for="uname-lbl">USERNAME</label>
                    <input class="uname-input" type="username" placeholder="Enter your username" value="">
                </div>
                <div class="pwd">
                    <label for="pwd-lbl">PASSWORD</label>
                    <input class="pwd-input" type="password" placeholder="Enter your password" value="">
                </div>
                <button class="submit-bt" id="sumbit" onclick="submits()">LOGIN</button>
            </form>
        </section>
        <script> function submits() {
  var audio = new Audio("{{url_for('static', filename='assets/button_tap.mp3')}}");
    audio.loop = false;
audio.play();
  event.preventDefault();
                var x = document.getElementById("login1");
                let username = x.elements[0].value;
                let password = x.elements[1].value;

                let payload = JSON.stringify({ request: [username, password] });
                console.log((payload), typeof (payload));
                const options = {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: payload
                };

                let cookies = 0;
                let tempdata = fetch('https://cookie-1.risalahqz.repl.co/logins', options)
                    .then(response => response.json())
                    .then(data => {

                        if (data.respond !== "not found") { location.replace("https://cookie-1.risalahqz.repl.co/cookie"); }
                        cookies = data.respond;
                        localStorage.setItem("username", username);
                        localStorage.setItem("password", password);
                        localStorage.setItem("cookies", cookies);

                        return data.respond;
                    }
                    )
                    .catch(err => console.error(err));
            }
        </script>
    </main>
</body>

</html>
