<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Login | Cookie Tap</title>
  <link href="{{url_for('static', filename='style-log.css')}}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{url_for('static', filename='assets/pngegg.png')}}" type="image/png">
</head>

<body>
    <header class="top-bar">
        <section class="logo">
            <img class="logo" src="{{url_for('static', filename='assets/pngegg.png')}}" alt="logo" width="50px"
                height="40px">
            <h1 class="logo-title"><a href="https://serverCookie.colabbren.repl.co">Cookie Tap</a></h1>
        </section>

        <section>
            <nav class="nav">
                <ul class="nav_links">
                    <li><button class="ld1"><a href="https://servercookie.colabbren.repl.co/leaderboard"
                                >Leaderboards</a></button></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="login">
            <div class="title">LOGIN</div>
            <div class="sub-title">
                <p id="demo">We miss you already <3 </p>
            </div>
            <form class="login1" id="login1">
                <div class="uname">
                    <label for="uname-lbl">USERNAME</label>
                    <input class="uname-input" type="username" placeholder="Enter your username" value="">
                </div>
                <div class="pwd">
                    <label for="pwd-lbl">PASSWORD</label>
                    <input class="pwd-input" type="password" placeholder="Enter your password" value="">
                </div>
                <button class="submit-bt" id="sumbit" onclick="submits()">LOGIN</button>
            </form>
        </section>
        <script> function submits() {
                var x = document.getElementById("login1");
                let username = x.elements[0].value;
                let password = x.elements[1].value;

                let payload = JSON.stringify({ request: [username, password] });
                console.log((payload), typeof (payload));
                const options = {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: payload
                };

                let cookies = 0;
                let tempdata = fetch('https://serverCookie.colabbren.repl.co/logins', options)
                    .then(response => response.json())
                    .then(data => {

                        if (data.respond !== "not found") { location.replace("https://servercookie.colabbren.repl.co/cookie"); }
                        cookies = data.respond;
                        localStorage.setItem("username", username);
                        localStorage.setItem("password", password);
                        localStorage.setItem("cookies", cookies);

                        return data.respond;
                    }
                    )
                    .catch(err => console.error(err));
            }
        </script>
    </main>
</body>

</html>
