<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
  <title>Register | Cookie Tap</title>
  <link href="{{url_for('static', filename='style-reg.css')}}" rel="stylesheet" type="text/css" />
      <link rel="icon" href="{{url_for('static', filename='assets/pngegg.png')}}" type="image/png">
</head>

<body>
    <header class="top-bar">
        <section class="logo">
            <img class="logo" src="{{url_for('static', filename='assets/pngegg.png')}}" alt="logo" width="50px"
                height="40px">
            <h1 class="logo-title"><a href="https://serverCookie.colabbren.repl.co">Cookie Tap</a></h1>
        </section>

        <section>
            <nav class="nav">
                <ul class="nav_links">
                    <li><button class="ld1"><a href="https://servercookie.colabbren.repl.co/leaderboard" >Leaderboards</a></button></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="register">
            <div class="title">REGISTER</div>
            <div class="sub-title"><p id="demo">Can't wait to see your action!</p></div>
            <form class="register1" id="register1">
                <div class="uname">
                    <label for="uname-lbl">USERNAME</label>
                    <input class="uname-input" type="username" placeholder="Enter your username" value="">
                </div>
                <div class="pwd">
                    <label for="pwd-lbl">PASSWORD</label>
                    <input class="pwd-input" type="password" placeholder="Enter your password" value="">
                  <button class="submit-bt" id="sumbit" onclick="submits()" >Register Now</button>
                  </form>
                    
                </div>
            
        

        <!-- <form id="register1">
            username: <br>
            password: <input type="password" value=""><br>
        </form>
        <p id="demo"></p>
        <button id="submit" onclick="submits()">Register Now!</button>
        <button id="login" onclick="location.replace('https://serverCookie.colabbren.repl.co/login')">LOGIN</button> -->

        <script>
          //function stopRefresh(event) { event.preventDefault(); } 
            function submits() {
              event.preventDefault();
              
                var x = document.getElementById("register1");
            //  x.addEventListener('submit', stopRefresh);
                let username = x.elements[0].value;
                let password = x.elements[1].value;
                if( username==="" && password===""){document.getElementById("demo").innerHTML = "form cant be a blank identity"; return 0;}

                let payload = JSON.stringify({ request: [username, password] });
                console.log((payload), typeof (payload));
                const options = {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: payload
                };

                fetch('https://serverCookie.colabbren.repl.co/registers', options)
                    .then(response => response.json())
                    .then(response => {
                        if (response.respond === "existed") {
                            document.getElementById("demo").innerHTML = "The account already existed.";
                        } else {
                            document.getElementById("demo").innerHTML = "Register succeed, login to play!";alert('Please login to play, redirecting to home page.');location.href = "https://serverCookie.colabbren.repl.co/";
                        }
                    })
                    .catch(err => console.error(err));
               }
        </script>
    </section>
    </main>
</body>

</html>
